{% extends 'base.html' %} 
{% block title %} Blog {% endblock %} 
{% block content %}

<div class="container w-50 my-4">
  <div class="card h-100">   
    <div class="card-body">
      <h5 class="card-title">User login</h5>
      <form action="/login/" method="POST">
        {% csrf_token %}
        <div class="container mt-5">
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
            />
          </div>
          <br />
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
{% endblock %}
