#nav-bg {
  background-color: rgb(5, 1, 20);
  /* background-image: url('{% static "home/back1.jpg" %}'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a.mct:link {
  color: #ff0000;
}
a.mct:visited {
  color: #0000ff;
}
a.mct:hover {
  font-size: 150%;
}

.edulogo {
  border-bottom: 100px solid #555;
  border-left: 50px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 125px;
}
